<h2>Zustatky uctu</h2>

#todo-me metoda v modelu Transaction, ktera ziska datum nejstarsi transakce a toto datum pouzijes zde

<% months = month_ends('2011-03-15'.to_date, Date.current).reverse! %>

<table>
  <tr>
    <th>Ucet\Mesic</th>
    <% months.each do |month| %>
        <th><%= month.strftime("%Y-%m") %></th>
    <% end %>
  </tr>


  <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <% months.each do |month| %>
            <td><%= account.balance month %></td>
        <% end %>
      </tr>
  <% end %>

  <tr>
    <td><b>CELKEM</b></td>
    <% months.each do |month| %>
        <td><b><%= Account.balance month %></b></td>
    <% end %>

  </tr>

</table>
